*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #d2f5f0;
}

.todo-app {
  display: flex;
  justify-content: center;
  align-items: center;  
}

h1 {
  margin: 32px 0;
  color: #333333;
  font-size: 50px;
  text-align: center;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px;
  border: 1px solid #333;
  outline: none;
  width: 25%;
  background: transparent;
  color: #333;
  margin-left: 540px;
  margin-bottom: 15px;

}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: rgb(255, 200, 210);
  color: #333;
  text-transform: capitalize;
  margin-left: 5px;
}

.todo-button.edit {
  background-color: rgb(255, 200, 210);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background-color: #333;

  padding: 16px;
  border-radius: 5px;
  width: 60%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon , .edit-icon {
  margin-right: 5px;
  color: #fff ;
}

@media screen and (max-width: 1200px) {
  .todo-app {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .todo-input {
    width: 50%;
    margin-left: 120px ;
  }

  .todo-row {
    width: 90%;
  }
}